:root{
    system-ui:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
.app-cmp-number-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
.app-btn-add{
    padding: 1em;
    border: 1px solid #000;
    border-radius: 0.5em;
    cursor: pointer;
}
.app-inp-number{
    width: auto;
    height: auto;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 0.5em;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.app-outp-number{
    width: auto;
    height: auto;
    background-color: #535353;
    color: #fff;
    padding: .5em;
    border-radius: 0.5em;
}


